.faq-container{
  width: 100%;
  max-width: 80rem;
  margin: 50px auto;
  padding: 0 1.5rem;
  text-align: center;
}

.accordion-item{
  border-radius: 0.4rem;
  margin-bottom: 1rem;
  padding: 1rem;
}

.accordion-link{
  font-size: 1.6rem;
  color: black;
  text-decoration: none;
  width: 100%;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding: 1rem 0;
}

.accordion-link i {
  padding: 0.5rem;
}

.answer{
  max-height: 0;
  overflow: hidden;
  position: relative;
  transition: 650ms;
}

.answer::before{
  content: "";
  position: absolute;
  width: 0.6rem;
  height: 90%;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.answer p{
  display: flex;
  color: black;
  font-size: 1.2rem;
  text-align: left;
}

.accordion-item:target .answer{
  max-height: 20rem;
  max-width: 100%;
}