.products-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 15em;
    margin-right: 15em;
}

.products-card{
    height: 440px;
    width: 310px;
    background: gray;
    padding: 1rem;
    margin: 5px 5px 5px 5px;
}

.products-card-name{
    margin-top: 0.5rem;    
    margin-bottom: 0.5rem;
    text-align: center;
}

@media only screen and (max-width: 376px) {
    .products-card:nth-child(1n+4){
        display: none;
    }

    .products-container{
        margin: 0 0 0 0;
    }

    #show-more{
        display: block;
    }
    
    .show-btn{
        align-items: center;
    }
}