.products-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 15em;
    margin-right: 15em;
}

.products-card{
    height: 440px;
    width: 310px;
    background: gray;
    padding: 1rem;
}

.products-card-name{
    margin-top: 0.5rem;    
    margin-bottom: 0.5rem;
    text-align: center;
}

